{% extends 'layout.html' %}
{% block content %}
    <h3>Recent updates</h3>
    <hr>
    <h5>Active communities today!</h5>
    <div class="row">
        {% for c in new_community %}
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mb-2">
                <span class="badge badge-pill badge-danger">{{ c[2] }}</span>
                <a class="text-dark"
                   href="{{ url_for('community', community_url=c[3]) }}">{{ c[0] }}</a><br><small>{{ c[1] }}</small>
            </div>
        {% endfor %}
    </div>

    <h3 class="mt-4">Communities</h3>
    <hr>
    <div class="row">
        {% for community in communities %}
            <div class="col-lg-4 col-sm-12">
                <a href="{{ url_for('community', community_url=community.url) }}"
                   class="text-decoration-none text-light">
                    <div class="card mb-2"
                         style="background-image: url({{ url_for('static', filename='community_pics/' + community.image_file) }});background-repeat: no-repeat;background-attachment: inherit; background-size: cover; height: 10rem">
                        <div class="card-body">
                            <div class="media">
                                <div class="media-body">
                                    <h5 class="mt-0" style="text-shadow: 1px 2px 5px #222;">{{ community.title }}</h5>
                                    <p style="text-shadow: 1px 2px 5px #222;">{{ community.description }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>

{% endblock content %}
